body {
  background: black;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  justify-content: center;
}
.grid-item {
  min-width: 100%;
  min-height: 100%;
  background-color: white;
  cursor: pointer;
  position: relative;
}

#start {
  color: black;
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif ;
}

#pres {
  height: 700px;
  width: 1200px;
  border: darkgray 3px solid;
  border-radius: 5px;
  text-align: center;
}

#thatsAll {
  z-index: 2;
  background: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: x-large;
}

#survey {
  color: black;
  position: absolute;
  top: 40%;
  left: 40%;
}

#pageOne, #pageTwo {
  color: white;
}

h1 {
  margin-bottom: 200px;
  font-size: xxx-large;
}

p {
  font-size: x-large;
}

#pageFour {
  color: black;
  z-index: 5;
}

#liveCoding {
  height: 300px;
  width: 300px;
  background: none;
  border: none;
  color: white;
  resize: none;
  font-size: xx-large;
}

#liveCoding:focus {
  outline: none;
}

#red {
  background: black;
  height: 1px;
  width: 1px;
}

#runcode {
  height: 50px;
  width: 300px;
  border: none;
  font-size: x-large;
  background: none;
  color: black;
  transition-duration: .5s;
}

#runcode:hover {
  height: 50px;
  width: 300px;
  border: none;
  font-size: x-large;
  background-color: rgb(87, 87, 87);
  color: aliceblue;
  transition-duration: .5s;
}

#runcode:focus {
  outline: none;
}

/* Logo */

.main-logo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.logo-animation-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 12%;

}

.logo-animation {
  pointer-events: none;
  overflow: visible;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 240px;
  margin: -120px 0 0 -500px;
  transform: scale(.633333);
}

.anime-logo {
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 120px;
}

.anime-logo-signs {
  overflow: visible;
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 512px;
  margin-top: -352px;
}

.logo-letter {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 100%;
}

.bounced {
  transform-origin: 50% 100% 0px;
  transform: translateY(200px) scaleX(.55) scaleY(.8);
}

.logo-animation .bounce {
  overflow: visible;
  position: absolute;
  left: 0;
  bottom: 70px;
  /*stroke: red;*/
}

.logo-animation .dot {
  opacity: 0.001;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-color: currentColor;
  transform: translate3d(0,0,0);
}

.logo-animation .logo-letter svg {
  overflow: visible;
  fill: none;
  fill-rule: evenodd;
}

.logo-animation .line {
  fill: none;
  fill-rule: evenodd;
  stroke-linecap: square;
  stroke-width: 40;
  stroke: currentColor;
}

.logo-animation .fill {
  opacity: .001;
  stroke: currentColor;
  stroke-width: 40px;
}

.logo-text {
  opacity: .001;
  margin-top: .25em;
  font-weight: 400;
  font-size: 11px;
  line-height: 1;
  letter-spacing: .125em;
  text-align: justify;
  word-break: keep-all;
}

.logo-text:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
  line-height: 0;
}